// background colors
$background-primary: #f8f8f8;
$background-purple: #835afd;
$background-question: #fefefe;
$background-highlighted-question: #f4f0ff;
$background-answered-question: #dbdcdd;

// text colors
$color-primary: #29292e;
$color-secondary: #f8f8f8;
$color-white: #fff;
$color-light-grey: #a8a8b3;
$color-dark-grey: #737380;
$color-red: #ea4335;
$color-pink: #e559f9;
