// background colors
$background-primary: #f8f8f8;
$background-purple: #835afd;

// text colors
$color-primary: #29292e;
$color-secondary: #f8f8f8;
$color-white: #fff;
$color-light-grey: #a8a8b3;
$color-red: #ea4335;
