@import "colors";

.question {
  background: $background-question;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: $background-highlighted-question;
    border: 1px solid $background-purple;

    footer .user-info span {
      color: $color-primary;
    }
  }

  &.answered {
    background: $background-answered-question;
  }

  p {
    color: $color-primary;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;

    > div {
      display: flex;
      gap: 1rem;
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        gap: 0.8rem;

        color: $color-dark-grey;

        &.liked {
          color: $background-purple;

          svg path {
            stroke: $background-purple;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }

  &__user-info {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    span {
      color: $color-dark-grey;
      font-size: 1.4rem;
    }
  }
}
